@theme {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes shake {
    0%,
    100% {
      rotate: 0deg;
    }
    25% {
      rotate: -12deg;
    }
    75% {
      rotate: 12deg;
    }
  }

  @keyframes coinJump {
    0% {
      transform: translateY(-0%);
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    60% {
      transform: translateY(-140%);
      opacity: 1;
    }
    100% {
      transform: translateY(-130%);
      opacity: 0;
    }
  }

  @keyframes coin {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

  @keyframes oneUp {
    0% {
      transform: translateY(-0%);
      opacity: 1;
    }

    100% {
      transform: translateY(-150px);
      opacity: 0;
    }
  }

  @keyframes start {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 0;
    }
  }

  --animate-blink: blink 1s step-start infinite;
  --animate-shake: shake 1s infinite;
  --animate-coin: coin 0.3s steps(6) infinite;
  --animate-oneUp: oneUp 0.9s cubic-bezier(0.2, 0.8, 0.2, 1) infinite;
  --animate-coinJump: coinJump 1s cubic-bezier(0.1, 0.7, 0.2, 1) forwards;
}
