@theme {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes shake {
    0%,
    100% {
      rotate: 0deg;
    }
    25% {
      rotate: -12deg;
    }
    75% {
      rotate: 12deg;
    }
  }

  --animate-blink: blink 1s step-start infinite;
  --animate-shake: shake 1s infinite;
}
