@theme {
  /* Mark colors */
  --color-mark-50: #e9f1f8;
  --color-mark-100: #c9ddee;
  --color-mark-200: #a5c9e9;
  --color-mark-300: #7fb5e6;
  --color-mark-400: #64a5e6;
  --color-mark-500: #5097e4;
  --color-mark-600: #4989d6;
  --color-mark-700: #4177c3;
  --color-mark-800: #3a66b2;
  --color-mark-900: #2c4994;

  /* NextJs colors */
  --color-nextjs-50: #f5f5f5;
  --color-nextjs-100: #e9e9e9;
  --color-nextjs-200: #d9d9d9;
  --color-nextjs-300: #c4c4c4;
  --color-nextjs-400: #9d9d9d;
  --color-nextjs-500: #7b7b7b;
  --color-nextjs-600: #555555;
  --color-nextjs-700: #434343;
  --color-nextjs-800: #262626;
  --color-nextjs-900: #000000;

  /* Web colors */
  --color-web-50: #e6f9e8;
  --color-web-100: #c3efc7;
  --color-web-200: #9ae6a3;
  --color-web-300: #6adc7b;
  --color-web-400: #3ad35b;
  --color-web-500: #00ca38;
  --color-web-600: #00ba2e;
  --color-web-700: #00a720;
  --color-web-800: #00950f;
  --color-web-900: #007500;

  /* Html colors */
  --color-html-50: #fae9e8;
  --color-html-100: #fdcdbf;
  --color-html-200: #fdad96;
  --color-html-300: #fc8c6c;
  --color-html-400: #fc734c;
  --color-html-500: #fc5c2f;
  --color-html-600: #f1562b;
  --color-html-700: #e34f26;
  --color-html-800: #d54822;
  --color-html-900: #bb3d1b;

  /* Css colors */
  --color-css-50: #e4f2fb;
  --color-css-100: #bedff7;
  --color-css-200: #96cbf3;
  --color-css-300: #70b7ed;
  --color-css-400: #55a7ea;
  --color-css-500: #4099e6;
  --color-css-600: #398bd9;
  --color-css-700: #3179c6;
  --color-css-800: #2b68b4;
  --color-css-900: #204b95;

  /* Javascript colors */
  --color-javascript-50: #fefbe5;
  --color-javascript-100: #fdf5bf;
  --color-javascript-200: #fbee94;
  --color-javascript-300: #f9e769;
  --color-javascript-400: #f8e246;
  --color-javascript-500: #f7de1e;
  --color-javascript-600: #f5cb19;
  --color-javascript-700: #f4b312;
  --color-javascript-800: #f29b0a;
  --color-javascript-900: #ee7000;

  /* Typescript colors */
  --color-typescript-50: #e8eafc;
  --color-typescript-100: #c6caf7;
  --color-typescript-200: #9ea8f3;
  --color-typescript-300: #7485ee;
  --color-typescript-400: #5168ea;
  --color-typescript-500: #264ce4;
  --color-typescript-600: #2043d9;
  --color-typescript-700: #0f38cc;
  --color-typescript-800: #002dc1;
  --color-typescript-900: #0013b0;

  /* React colors */
  --color-react-50: #dff8ff;
  --color-react-100: #aeefff;
  --color-react-200: #73e4ff;
  --color-react-300: #00d9ff;
  --color-react-400: #00d0fc;
  --color-react-500: #00c7f8;
  --color-react-600: #00b7e3;
  --color-react-700: #00a2c7;
  --color-react-800: #008ead;
  --color-react-900: #006b7d;

  /* Node colors */
  --color-node-50: #eaf5e8;
  --color-node-100: #cce5c7;
  --color-node-200: #abd5a5;
  --color-node-300: #8bc581;
  --color-node-400: #73b966;
  --color-node-500: #5dad4c;
  --color-node-600: #549e43;
  --color-node-700: #488c39;
  --color-node-800: #3d7b2f;
  --color-node-900: #2a5c1f;
}

/*
    3xl:bg-emerald-500 4xl:bg-fuchsia-600 5xl:bg-bg-lime-600 6xl:bg-pink-400 bg-amber-400 sm:bg-purple-600 md:bg-green-500 lg:bg-blue-600 xl:bg-orange-600 2xl:bg-cyan-600
*/
