@theme {
  --spacing-safe-area-top: env(safe-area-inset-top, 0px);
  --spacing-safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --spacing-safe-area-left: env(safe-area-inset-left, 0px);
  --spacing-safe-area-right: env(safe-area-inset-right, 0px);
  --spacing-safe-area-x: max(
    env(safe-area-inset-left, 0px),
    env(safe-area-inset-right, 0px)
  );
  --spacing-safe-area-y: max(
    env(safe-area-inset-top, 0px),
    env(safe-area-inset-bottom, 0px)
  );

  --spacing-x-container: clamp(
    max(var(--spacing-safe-area-x), 1.25rem),
    7.6vw,
    8rem
  );
}
